BOT_TOKEN = "7537812251:AAHj8UhGwmDYQDZecsDMMs4C6Bw6NXn78gc"

# Sudo Users
ADMINS = "1937478732,7996021540"

# Database Channel ID
CHANNEL_DB = -1002518744585

# MongoDB 
DATABASE_URL = "mongodb+srv://ravielbot:ravielbot@cluster0.dpgnchb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
DATABASE_NAME = "ravielbot"

FORCE_SUB_1 = -1002646436010
# FORCE_SUB_2 ; FORCE_SUB_3 More...
